# Database
database/

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Temp files
*.tmp
**/Temp/
**/temp/
*.bak

# Editor
.vscode/
*.swp
*.swo
.idea/

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# downloaded game builds
Interlinked/games/*
!Interlinked/games/.gitkeep
